body {
    padding: 30px;
    background-color: #f8f9fa;
    font-family: initial;
}

h1 {
    margin-bottom: 30px;
}

table {
    background-color: white;
}

form {
    margin-bottom: 30px;
}

input, button {
    margin-right: 10px;
}
input[type="file"] {
    max-width: 50   px;
    overflow: hidden;
    white-space: nowrap;
}
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="file"] {
    max-width: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
  }
  input[type="text"] {
    text-align: center;
  }