body {
    padding: 30px;
    background-color: #f8f9fa;
    font-family: initial;
}

h1 {
    margin-bottom: 30px;
}

 .navbar .nav-link {
    color: black !important;
  }

  .navbar .nav-link:hover {
    color: #333 !important; /* Hover rengi istersen daha koyu olabilir */
  }

table {
    background-color: white;
}

form {
    margin-bottom: 30px;
}

input, button {
    margin-right: 10px;
}
input[type="file"] {
    max-width: 50   px;
    overflow: hidden;
    white-space: nowrap;
}
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  
}

.btn-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="file"] {
    max-width: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
  }
  input[type="text"] {
    text-align: center;
  }

.siparis-tablosu {
  background-color: white;
  border-collapse: collapse;
  width: auto; /* genişliği içeriğe göre olsun */
  display: block;
  margin-left: 0;
  margin-right: auto;
}

.siparis-tablosu th,
.siparis-tablosu td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.container {
  max-width: 100%;
}

.card {
  padding: 1rem !important;
  font-size: 0.9rem;
}
h2, h3, h4, h5 {
  margin: 0.3rem 0;
}
ul {
  padding-left: 5rem;
  margin-bottom: 5rem;
}
.row > .col-md-6 {
  margin-bottom: 5rem;
}
